@use 'base.scss';

body {
  // --uno: bg-stone-100 text-stone-600;
}

.dark body {
  --uno: bg-dark-800 text-light-200;
}

.dark .bg {
  opacity: 0.1;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding-bottom: 8px;
  padding-right: 8px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  // background-image: url('./grid.svg');
  background-position: -21px -21px;
  // -webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%,#000 40%,rgba(0, 0, 0, 0.4) 100%);
  // mask-image: radial-gradient(ellipse 50% 50% at 50% 50%,#000 40%,rgba(0, 0, 0, 0.4) 100%);
}

a {
  position: relative;
  // transition: color 0.2s, text-decoration-color 0.2s;

  &:hover {
    color: #2563eb;
  }
}
